p {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    /* this style below will be inherited to all the sub sections */
    font-family: Roboto, Arial;
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
    

}